.c-product-selector {
  display: inline-block;

  &__item {
    display: block;
    color: $gray-very-dark;
    font-size: $font-size-6;
    text-transform: uppercase;
    margin-bottom: $grid-base * 2;

    @include large-up {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $grid-base * 5;
    }
  }
}
