p {
  font-size: $font-size-5;
  margin: 0;
  margin-bottom: $grid-base;
  line-height: $line-height-base;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-5;
  line-height: $line-height-sm;
  margin: 0;
}

a {
  color: $gray-very-dark;
  text-decoration: none;
  &:hover {
    color: $gray-very-dark;
    text-decoration: underline;
  }
}
